#map{
	height: 300px;
	width: 100%;
	margin:auto;
}
.left-side{
	display: inline-block;
	padding: 0px;
	margin-right: 90px;
	margin-left: 50px;
	vertical-align: top;
}
.right-side{
	display: inline-block;
	padding: 0px;
	margin-bottom: 30px;
}
.group{
	max-height: 300px;
}
.generate-button{
	margin-top: 20px;
	background-color: #FFA500;
}

.username{
	color: black;
}
.input-group{
	margin-bottom: 30px;
}
table .col-12{
	padding-left: 30px;
}