<!DOCTYPE html>

<html>
    <head>
      <title>Create Group</title>
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/static/finder/css/style.css">
      <link rel="stylesheet" type="text/css" href="/static/finder/css/creategroup.css">

    </head>

    <body>
      <nav class="navbar navbar-expand-sm" id='navbar'>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <a class="navbar-brand" href="#">WEEH: Where eat? Eat Here</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a href="/dashboard" class='nav-link'>Home</a></li>
              <li class="nav-item"><a href="/profile/{{sessionid}}" class='nav-link'>My Profile</a></li>
              <li class="nav-item"><a href="/addfriends" class='nav-link'>Add Friends</a></li>
              <li class="nav-item"><a href="/logout" class='nav-link'>Logout</a></li>
            </ul>

          </div>
      </nav>
      <div class="container">
        <div class='left-side col-7'>
          <h3>Create A Group</h3>
           <form action='/creategroup/submit' method='post'>
              {% csrf_token %}
              <div>
                  <label for="name" class="col-form-label"> Name:</label>
                  <div class="col-sm-10"><input  class='forminput' type='text' name='name' placeholder="Name" class="form-control"></div>
              </div>
              <div>
                  <label for="address1" class="col-form-label">Street Address:</label>
                  <div class="col-sm-10"><input  class='forminput' type='text' name='address1' placeholder="Name" class="form-control"></div>
              </div>
              <div>
                  <label for="address2" class="col-form-label"> City, State:</label>
                  <div class="col-sm-10"><input  class='forminput' type='text' name='address2' placeholder="Name" class="form-control"></div>
              </div>
              <div class="align-btn">
               <input type='submit' value='Create Group' class='create-btn'>
              </div>
          </form>
        </div>
        <div class='right-side col-3'>
          <img class='groupimg' src="/static/finder/img/Group food.jpg" alt='group food img'>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      </div>

    </body>
</html>