<!DOCTYPE html>

<html>
    <head>
      <title>Dashboard</title>
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       <link rel="stylesheet" type="text/css" href="/static/styles.css">


    </head>

    <body>
      <div class="container">
        
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <a class="navbar-brand" href="#">10s</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a href="/profile/{{sessionid}}" class='nav-link'>My Profile</a></li>
              <li class="nav-item"><a href="/addfriends" class='nav-link'>Add Friends</a></li>
              <li class="nav-item"><a href="/creategroup" class='nav-link'>Create Group</a></li> 
              <li class="nav-item"><a href="/logout" class='nav-link'>Logout</a></li>
            </ul>

          </div>
        </nav> 
<br>
        <h3>My Dashboard</h3>


      <h6> My Groups:</h6>
    <table class="table table-hover ">
       <thead class="thead-dark">
         <tr>
          <th> Group Name </th>
          <th> Actions</th>


        </tr>
      </thead>

      <!-- This Template requires a list of groups passed in where the user is a member of.-->        
      {% for group in mygroups %}
        <tr>

          <td> <a href="{{group.id}}/">{{group.name}}</a></td>
          <td> <a href="{{group.id}}/"> Leave </a>{}</td>
        </tr>
        
        {% endfor %}
      </table>
      <a href="/creategroup"> Create a New Group </a><br><Br>
      <a href="/group/1">group link</a>


      <h6> My Friends:</h6>
    <table class="table table-hover">
       <thead class="thead-dark">
         <tr>
          <th> Name </th>
          <th> Actions</th>
        </tr>
      </thead>

      <!-- This Template requires a list of friends passed in where the user is a friend.-->        
      {% for friend in myfriends %}
        <tr>

          <td> <a href="{{friend.id}}/">{{friend.name}}</a></td>
          <td> <a href="/unfriend/{{friend.id}}/"> Unfriend </a></td>
        </tr>
        
        {% endfor %}
      </table>
        <a href="/addfriends" class='nav-link'>Add Friends</a>

     
      <!-- read on to learn about form actions, we'll talk about the method in a later section -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      </div>
    </body>
</html>