<!DOCTYPE html>

<html>
    <head>
      <title>Group</title>
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       <link rel="stylesheet" type="text/css" href="/static/styles.css">


    </head>

    <body>
      <div class="container">
        
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <a class="navbar-brand" href="#">10s</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a href="/dashboard" class='nav-link'>Home</a></li>
              <li class="nav-item"><a href="/profile/{{sessionid}}" class='nav-link'>My Profile</a></li>
              <li class="nav-item"><a href="/addfriends" class='nav-link'>Add Friends</a></li>              
              <li class="nav-item"><a href="/logout" class='nav-link'>Logout</a></li>
            </ul>

          </div>
        </nav> 
<br>
      <!-- This Template requires a group-->  
        <h3>{{group.name}}
        </h3>
        <a href="/group/{{group.id}}/leavegroup"> Leave Group</a>
        <h6> Current Location </h6>


      <!-- This Template requires a list of users who are members of the group.-->   


      <h6>Members:</h6>
    <table class="table table-hover">
       <thead class="thead-dark">
         <tr>
          <th> Name </th>

        </tr>
      </thead>

      <!-- This Template requires a list of users who have requested CURRENT USER to be a friend.-->        
      {% for user in users %}
        <tr>

          <td> <a href="/profile/{{user.id}}">{{user.name}}</a></td>

        </tr>
        
        {% endfor %}
      </table>


     
  
     <form action="" method='post'>
       <h6> Add Users</h6>
     {% csrf_token %}
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search users...">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Go!</button>
      </span>
    </div>
    </form><br>
    <h6> My Friends:</h6>
    <table class="table table-hover">
       <thead class="thead-dark">
         <tr>
          <th> Name </th>
          <th> Actions</th>
        </tr>
      </thead>

      <!-- This Template requires a list of friends passed in where the user is a friend.-->        
      {% for friend in myfriends %}
        <tr>

          <td> <a href="{{friend.id}}/">{{friend.name}}</a></td>
          <td> <a href="/group/{{group.id}}/addmember/{{friend.id}}/"> Add to group</a></td>
        </tr>
        
        {% endfor %}
      </table>
    <br>
    <a href="/group/1/results" ><button class="btn btn-secondary" type="button">Generate!</button></a>


      <!-- read on to learn about form actions, we'll talk about the method in a later section -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      </div>
    </body>
</html>