<!DOCTYPE html>

<html>
    <head>
      <title>Group</title>
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/static/finder/css/style.css">
      <link rel="stylesheet" type="text/css" href="/static/finder/css/group.css">
    </head>

    <body>
      <nav class="navbar navbar-expand-sm" id='navbar'>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <a class="navbar-brand" href="#">WEEH: Where eat? Eat Here</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a href="/dashboard" class='nav-link'>Home</a></li>
              <li class="nav-item"><a href="/profile/{{sessionid}}" class='nav-link'>My Profile</a></li>
              <li class="nav-item"><a href="/addfriends" class='nav-link'>Add Friends</a></li>              
              <li class="nav-item"><a href="/logout" class='nav-link'>Logout</a></li>
            </ul>

          </div>
        </nav> 
      <div class="container">

        <h3>{{group.name}}</h3>
        <div class='left-side col-5'>
          <a href="/group/{{group.id}}/leavegroup"> Leave Group</a>
          <h6> Current Location </h6>
          <div id="map"></div>
                <script>
                  var map; 
                  
                  function initMap() {
                    var myLatLng = {lat: {{group.lat}}, lng: {{group.lon}}};
                    map = new google.maps.Map(document.getElementById('map'), {
                      center: myLatLng,
                      zoom: 13
                    });
                    var marker = new google.maps.Marker({
                      position: myLatLng,
                      map: map,
                      title: 'Location_marker'
                    });
                  }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5OfM5SkK0FFmAIRQRKWn5J4yRvd8nq_Q&callback=initMap"
                async defer></script>  
          <div class='align-btn'>
            <a href="/group/{{group.id}}/generate" ><button class="generate-button" type="button">Generate!</button></a>
          </div>
        </div>
        <div class='right-side col-5'>
          <div class='group'>
          <table class="table table-hover">
             <thead>
               <tr class="d-flex">
                <th class='col-12'> Members </th>
              </tr>
            </thead>
          
            {% for user in users %}
              <tr class="d-flex">
                <td class='col-12'> <a  class='username' href="/profile/{{user.id}}">{{user.name}}</a></td>
              </tr>
              
              {% endfor %}
            </table>
          </div>
          <form action="/group/{{group.id}}" method='post'>
            <h6> Add Users</h6>
              {% csrf_token %}
              <div class="input-group">
                <input type="text" class='forminput' name='search' placeholder="Search users...">
                 <span class="input-group-btn">
                  <button type="submit">Go!</button>
                 </span>
          </div>
          </form>
          <div class='group'>
            <table class="table table-hover">
             <thead>
               <tr class="d-flex">
                <th class='col-3'> Friends </th>
                <th class='col-9'> Actions</th>
              </tr>
            </thead>
            {% for friend in myfriends %}
              <tr class="d-flex">
                <td class='col-3'> <a class='username' href="{{friend.id}}/">{{friend.name}}</a></td>
                <td class='col-9'> <a href="/group/{{group.id}}/addmember/{{friend.id}}/"> <button class='action'>Add to group</button></a></td>
              </tr>
              
            {% endfor %}
            </table>
          </div>
          
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      </div>
    </body>
</html>